*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background: #262626;
    color:#FFCD00 ;
    font-family:  'Source Sans Pro', sans-serif;
}

div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    font-size: 4em;

}
